@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #ff8100;
}

/* Active Route Design */
.ant-menu-item-selected {
  background-color: #ff8100 !important;
  color: #fff !important;
}
.ant-menu-submenu-selected > .ant-menu-submenu-title {
  color: #ff8100 !important;
  font-weight: 700 !important;
}
.ant-drawer-header {
  display: none !important;
}
.ant-form-item-label {
  font-weight: 700 !important;
}

.three-grid {
  @apply grid grid-cols-1 lg:grid-cols-3 gap-4;
}
.bottom-buttons {
  @apply flex justify-end items-center gap-4 absolute bottom-10 right-10;
}
