@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #ff8100;
}

/* Active Route Design */
.ant-menu-item-selected {
  background-color: #ff8100 !important;
  color: #fff !important;
}
.ant-menu-submenu-selected > .ant-menu-submenu-title {
  color: #ff8100 !important;
  font-weight: 700 !important;
}
.ant-drawer-header {
  display: none !important;
}
.ant-form-item-label {
  font-weight: 700 !important;
}
